<br>
<h1>About us:<h1>
<br>
<p class="fs-5">Doggo ipsum dat tungg tho boof aqua doggo clouds stop it fren, long woofer pats borkdrive, heckin smol borking doggo with a long snoot for pats floofs. Woofer pupper long woofer, ur givin me a spook. Clouds adorable doggo long doggo extremely cuuuuuute borkf, mlem very good spot long water shoob heckin good boys, tungg doggo wrinkler. Aqua doggo long bois heckin good boys and girls, I am bekom fat.</p>
<br>
<img class="rounded mx-auto d-block w-50"<%= image_tag 'https://tinyurl.com/bdcemm4k' %>
